Package             Version  
------------------- ---------
aiocoap             0.4.3    
autopep8            1.6.0    
azure-iot-device    2.10.0   
bleak               0.14.2   
certifi             2021.10.8
charset-normalizer  2.0.12   
dbus-next           0.2.3    
deprecation         2.1.0    
idna                3.3      
janus               1.0.0    
packaging           21.3     
paho-mqtt           1.6.1    
pip                 20.0.2   
pkg-resources       0.0.0    
pycodestyle         2.8.0    
pyparsing           3.0.7    
PySocks             1.7.1    
requests            2.27.1   
requests-unixsocket 0.3.0    
setuptools          44.0.0   
six                 1.16.0   
toml                0.10.2   
typing-extensions   4.1.1    
urllib3             1.26.8   
wheel               0.37.1   
